@import "~bootstrap/scss/bootstrap";
@import "block-title";
@import "block";
@import "flex";
@import "flex-col";
@import "header";
@import "_login_page";
@import "register";
@import "card";

body{
    padding: 0 !important;
    font-size: 14px;
    line-height: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    min-height: 100vh;
}
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    color: inherit;
    text-decoration: inherit;
    list-style: none;
}
button{
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}
*{
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}